n8n-workflows/attendance-alert.json
{
  "name": "CampusFlow - Attendance Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campusflow-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "attendance-webhook",
      "name": "Attendance Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "=whatsapp:{{ $json.body.phone }}",
        "message": "=Hi {{ $json.body.studentName }}! {{ $json.body.message }} \u2014 CampusFlow",
        "options": {}
      },
      "id": "attendance-twilio",
      "name": "Send Attendance Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -60,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"message\":\"Attendance alert sent\"}",
        "options": {}
      },
      "id": "attendance-response",
      "name": "Respond to Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        220,
        0
      ]
    }
  ],
  "connections": {
    "Attendance Webhook": {
      "main": [
        [
          {
            "node": "Send Attendance Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Attendance Alert": {
      "main": [
        [
          {
            "node": "Respond to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}